<!-- IF MAP_TYPE -->
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<!-- Map resize -->
	<!-- INCLUDECSS {T_ASSETS_PATH}/jquery-ui/jquery-ui.min.css -->
	<!-- INCLUDEJS {T_ASSETS_PATH}/jquery-ui/jquery-ui.min.js -->

	<!-- Openlayers -->
	<link href="{T_ASSETS_PATH}/myol/dist/myol.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" />
	<!-- INCLUDEJS {T_ASSETS_PATH}/myol/dist/{MYOLNAME}.js -->

	<!-- This map -->
	<!-- INCLUDECSS @Dominique92_GeoBB/stylesheet.css -->
	<!-- INCLUDEJS @Dominique92_GeoBB/layerGeoBB.js -->

	<script>
		var scriptName = '{SCRIPT_NAME}',
		<!-- IF FORUM_ID -->
			forum_id = '{FORUM_ID}';
		<!-- ENDIF -->
		<!-- IF TOPIC_CATEGORY -->
			topic_category = '{TOPIC_CATEGORY}';
		<!-- ENDIF -->
		<!-- IF MAP_KEYS -->
			mapKeys = {MAP_KEYS},
		<!-- ENDIF -->
			mapType = '{MAP_TYPE}';
	</script>
<!-- ENDIF -->