<!-- IF MAP_TYPE -->
	<div id="map"></div>
	<input type="hidden" name="geom" id="marker-json" value='{GEO_JSON}' />

	<!-- IF MAP_TYPE == 'point' -->
		<p>Double clic sur la carte y déplace le curseur.</p>
		<div>
			<p>
				Longitude :
				<input id="marker-lon" type="text" name="lon" size="12" maxlength="12">
				(WGS84)&nbsp;
				<span class="xy"> / X :
					<input id="marker-x" type="text" name="x" size="7" maxlength="12"> (CH 1903)
				</span>
			</p>
			<p>
				Latitude :
				<input id="marker-lat" type="text" name="lat" size="12" maxlength="12">
				(WGS84)&nbsp;
				<span class="xy"> / Y :
					<input id="marker-y" type="text" name="y" size="7" maxlength="12">
				</span>
			</p>
		</div>

		<p class="map-altitude">Altitude
			<input type="text" name="geo_altitude" size="10"
				class="inputbox autowidth" value="{GEO_ALTITUDE}" /> *
		</p>
		<p class="map-massif">Massif
			<input type="text" name="geo_massif" size="25"
				class="inputbox autowidth" value="{GEO_MASSIF}" /> *
		</p>
		<p class="map-altitude-massif">
			* Laisser le champ vide pour que le serveur le détermine automatiquement.
		</p>
	<!-- ENDIF -->
<!-- ENDIF -->
